.App {

  color: #000000;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  text-align: center;
  background-image: url(./disco.jpg);
  background-repeat: no-repeat;
  overflow:auto;
  background-size: 100% 100%;
  background-origin: 0px 0px;
  margin: 0px;

  }
.entersearch{
	color:white;
	height: 30px;
	width: 100px;
	font-weight: bold;
	font-weight: italic;
	font-size: 15px;
}

.term{
	color: white;
	font-size: 15px;
}

.posts{
	color:white;
	font-size: 16px;
	font-weight: bold;
}

.tesla{
	color: red;

	font-size: 100px;
}


.Apples{
	color: darkred;
}

.a{
	color: white;
}

.b{
	color: red;
}
.c{
	color:white;
}
.text{
	color:white;
}

.notes{
	color:white;
	font-size: 16px;
}

/*
.camera{
	border: 15px;
	border-color: rgb(00,00,00);
}

*/
/*https://stackoverflow.com/questions/6470715/css-white-space-at-bottom-of-page-despite-having-both-min-height-and-height-tag 
link on fixing the annoying white border */




















