.App {

  color: #000000;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  text-align: center;
  background-image: url(./disco.jpg);
  background-repeat: no-repeat;
  overflow:auto;
  background-size: 100% 100%;

  margin: 0px;

  }



.tesla{
	color: red;
	text-align: center;

	font-size: 50px;
	top: 50px;
}



.Happy{
	  width: 70%;
	  height: 70%;
	  text-align: center;
	  background-image: url(./happy.jpg);
	  margin: auto;	  
	  background-repeat: no-repeat;
	  overflow: auto;
	  background-size: 100% 100%;
}
.Sad{
		width: 70%;
	  height: 70%;
	  text-align: center;
	  background-image: url(./sad.jpg);
	  margin: auto;	 
	  background-repeat: no-repeat; 
	  overflow: auto;
	  background-size: 100% 100%;

}
.Neutral{
		  width: 70%;
	  height: 70%;
	  text-align: center;
	  background-image: url(./neutral.png);
	  margin: auto;	  
	  background-repeat: no-repeat;
	  overflow: auto;
	  background-size: 100% 100%;

}

.butt{
	position: static;
	object-position: top;
	margin: auto;

}

/*
.camera{
	border: 15px;
	border-color: rgb(00,00,00);
}

*/
/*https://stackoverflow.com/questions/6470715/css-white-space-at-bottom-of-page-despite-having-both-min-height-and-height-tag 
link on fixing the annoying white border */




















