.App {

  color: #000000;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  padding-left: 60px;
  top: 0;
  left: 0;
  text-align: center;
  background-image: url(./image.jpg);
  overflow:auto;

  }
.entersearch{
	color:white;
	height: 30px;
	width: 100px;
	font-weight: bold;
	font-weight: italic;
	font-size: 15px;
}

.term{
	color: white;
	font-size: 15px;
}

.posts{
	color:white;
	font-size: 16px;
	font-weight: bold;
}

.tesla{
	color: red;

	font-size: 100px;
}


.Apples{
	color: darkred;
}

.a{
	color: white;
}

.b{
	color: red;
}
.c{
	color:white;
}
.text{
	color:white;
}

.notes{
	color:white;
	font-size: 16px;
}
























